<div class="row">
  <div class="col-md-12">
    <h2>Add Department</h2>
    <br>
    <form action="/departments/add" method="post">
      <fieldset>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="departmentName">Department Name:</label>
              <input name="departmentName" class="form-control" id="departmentName" type="text">
            </div>
          </div>
        </div>
      </fieldset>
      <hr>
      <input class="btn btn-primary pull-right" type="submit" value="Add Department"><br><br><br>
    </form>
  </div>
</div>